/dataprep.ipynb
/dataset.py
/entites_lcquad.pickle
/entities_lcquad.pickle
/lcquadDataprep.ipynb
/LCQUAD_Graph.pickle
/SPARQL.ipynb
/sparqlPattern.txt
/sparqlresult.pickle
/SPARQL_generator.ipynb
/SPARQL_gpt2.ipynb
/sparql_model_gpt2
/sparql_model_gpt2_2
/SPARQL_PTRN_3k.pickle
/SPARQL_PTRN_500k.pickle
/SPARQL_PTRN_lbl.pickle
/SPARQL_PTRN_sx.pickle
/SPARQL_shotlbl_test.pickle
/SPARQL_shotlbl_train.pickle
/SPARQL_TEST.ipynb
/templateGenerator.py
/utils.py
/util_dataprep_lcquad.py
/__pycache__
/sky-pilot/*
cloud_data/latest-checkpoint.zip
cloud_data/SPARQL_PTRN_600k.pickle
requirements.txt
